# Database
# DATABASE_URL="file:./dev.db"
DATABASE_URL = "postgresql://user:password@127.0.0.1:5432/berichts-heft"
# Server
PORT=3000
NODE_ENV=development

# Session
SESSION_SECRET="your-secure-session-secret-here-plausible-and optimal-is-a-long-random-string-of-numbers-and-othersighnes"

# CORS
CORS_ORIGIN="http://localhost:5173"

# Bcrypt
BCRYPT_SALT_ROUNDS=10
