.admin-menu {
  padding: 20px;
  background-color: var(--report-background-color);
  border-radius: 8px;
}

.user-management {
  margin-top: 20px;
}

.create-user-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.create-user-form input,
.create-user-form select {
  padding: 10px;
  border: 1px solid var(--input-border-color);
  background-color: var(--input-background-color);
  color: var(--input-text-color);
  border-radius: 4px;
  font-size: 1.5625rem;
}

.user-list {
  list-style: none;
  padding: 0;
}

.user-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid var(--report-border-color);
  background-color: var(--background-color);
  border-radius: 4px;
  margin-bottom: 10px;
}

.user-details button {
  padding: 5px 10px;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 5px;
}

.user-details button:hover {
  background-color: var(--button-hover-background-color);
}

.edit-user-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid var(--report-border-color);
  border-radius: 4px;
  margin-bottom: 10px;
}

.edit-user-form input {
  padding: 10px;
  border: 1px solid var(--input-border-color);
  background-color: var(--input-background-color);
  color: var(--input-text-color);
  border-radius: 4px;
  font-size: 1.5625rem;
}

@keyframes flash-red {

  0%,
  100% {
    background-color: transparent;
  }

  25%,
  75% {
    background-color: rgba(255, 0, 0, 0.3);
  }

  50% {
    background-color: transparent;
  }
}

.flash-error {
  animation: flash-red 0.5s 3;
}