
:root[data-theme="doom"] {
    --background-color: #1a0000;
    --text-color: #ff4500;
    --nav-background-color: #330000;
    --nav-text-color: #ff6347;
    --nav-button-background-color: #4d0000;
    --nav-button-hover-background-color: #660000;
    --button-background-color: #ff4500;
    --button-text-color: #ffffff;
    --button-hover-background-color: #e03e00;
    --input-background-color: #330000;
    --input-border-color: #ff4500;
    --input-text-color: #ff4500;
    --report-background-color: #2a0000;
    --report-border-color: #ff4500;
    --report-header-color: #ff4500;
    --report-text-color: #ffb3b3;
}
