<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <meta name="vieweport" content="width=device-width, initial-scale=1.0" >
        <meta name="author" content="Pierre Maurice Hesse/ sindrie">
        <meta name="description" content="well I do not know how you found this but it is funn welcome heare">
        <!-- insert Logo heare-->
        <link rel="icon" type="image/png"  href="Imiges/Icons/Chrisl21-Book.32.png">
        <!--heare put in the style sheets-->
        <link rel="stylesheet" href="Style/style.css">

    </head>
    <body>
        <img src="imgs/icons/opened_book/32x32.png">
        <script>

        </script>
    </body>
</html>